* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: system-ui;
}

body {
	background-color: #eeeeee;
	font-size: 16px;
}

.select {
	position: relative;
	width: 150px;
	height: 50px;
	margin: 100px auto;
	padding: 10px 15px;
	background-color: #fff;
	border-radius: 5px;
}

.select:before {
	content: "<";
	transform: rotateZ(-90deg);
	position: absolute;
	display: flex;
	justify-content: center;
	height: 25px;
	width: 25px;
	left: 125px;
	font-size: 1em;
	top: 14px;
}

.is-open:before {
	transform: rotateZ(90deg);
	color: #1a80db;
}

.select > span {
	position: absolute;
	top: 15px;
	left: 15px;
	line-height: 1em;
	color: #000;
}

.select > ul {
	position: absolute;
	display: none;
	width: 100%;
	top: 46px;
	left: 0;
	background-color: #fff;
	list-style: none;
}

.select > ul li {
	width: 100%;
	padding: 3px 0 3px 15px;
	overflow: hidden;
	white-space: nowrap;
	transition: all 0.3s ease;
}

.select > ul li:hover {
	background-color: #8190ca;
	cursor: pointer;
}

.select.is-open > ul {
	display: block;
}

.is-animated > ul, .is-animated > ul li, .is-animated:before  {
	transition: all 0.3s ease;
}


.select:focus, .select:hover, .select > ul:hover, .select > ul:focus {
	outline: none;
	border: none;
}